<div class='modal fade' id='{{dialId}}' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header' style='background:#5bc0de'>
                <button type='button' class='close' data-dismiss='modal'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>
                <h4 style='color:#fff' class='modal-title'>{{#if icon}}<span class='glyphicon {{icon}}'></span>{{/if}}<strong> {{title}}</strong> {{#if subtitle}} - <small style='color:#fff'>{{subtitle}}</small> {{/if}}</h4>
            </div>
            <div class='modal-body'>
                <center>
                    <br>
                    <p><img width = "32px" height = "32px" src = 'loading.gif'></p>
                </center>
            </div>
            <div class='modal-footer'>
                {{#if okBtn}}
                    <button id="{{okBtnId}}" {{#if loading}} data-loading-text="{{loading}}" {{/if}} type='button' class='btn btn-info'>{{#if okBtnIcon}}<span class='glyphicon {{okBtnIcon}}'></span> {{/if}}{{okBtn}}</button>
                {{/if}}
                <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
            </div>
        </div>
    </div>
</div>