<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <!--<li class="active"><a href="#">Home</a></li>-->
              <li><a href="#" id="{{importId}}" data-toggle="tooltip" data-placement="bottom" title="Import Network from database"><span class="glyphicon glyphicon-import" aria-hidden="true"></span> Import Network</a></li>
              <li><a href="#">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Layout <span class="caret"></span></a>
                <ul id={{layoutId}} class="dropdown-menu" role="menu">
                    <li><a href="breadthfirst">Breadthfirst</a></li>
                    <li><a href="circle">Circle</a></li>
                    <li><a href="cola">Cola</a></li>
                    <li><a href="concentric" selected>Concentric</a></li>
                    <li><a href="cose">Cose</a></li>
                    <li><a href="grid">Grid</a></li>
                    <li><a href="random">Random</a></li>
                    <li><a href="springy">Springy</a></li>
                    <li class="divider"></li>
                    <li><a href="advanced">Advanced</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" id="{{findId}}" class="form-control" placeholder="Search">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a id="{{saveId}}" href="#save"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Save" ></span></a></li>
                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span data-toggle="tooltip" data-placement="bottom" title="Search" class="glyphicon glyphicon-search"></span></a>
                    <div class="dropdown-menu" style="padding:12px;">
                        <div class="row">
                            <div class="col-md-12">
                                <form id="tagsform" class="navbar-form navbar-left">
                                    <div class="form-group">
                                        <input id="{{tagId}}" type="text" class="form-control" placeholder="identifier">
                                    </div>
                                    <div id="{{searchTagsId}}" class="tagsbox"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>-->
                <li><a id="{{pathwayId}}" href="#"><span class="glyphicon glyphicon-th-list" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Pathway Analysis" ></span></a></li>
                <li><a id="{{settingsId}}" href="#"><span class="glyphicon glyphicon-transfer" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Settings" ></span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>