<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" data-toggle="tooltip" data-placement="bottom" title="Protein Interaction Atlas" href="#"><img class="rotate" src="favicon.ico"> iAtlas</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <!--<li class="active"><a href="#">Home</a></li>-->
              <li><a href="#" id="{{importId}}" data-toggle="tooltip" data-placement="bottom" title="Import Network from database"><span class="glyphicon glyphicon-import" aria-hidden="true"></span> Import Network</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Layout <span class="caret"></span></a>
                <ul id={{layoutId}} class="dropdown-menu" role="menu">
                    <li><a data-toggle="tooltip" data-placement="right" title="Puts nodes in a hierarchy, based on a breadthfirst traversal of the graph." href="breadthfirst">Breadthfirst <span class="glyphicon" aria-hidden="true"></span></a></li>
                    <li><a data-toggle="tooltip" data-placement="right" title="Positions nodes in a circle" href="circle">Circle <span class="glyphicon" aria-hidden="true"></span></a></li>
                    <li><a data-toggle="tooltip" data-placement="right" title="Force-directed physics simulation" href="cola">Cola <span class="glyphicon" aria-hidden="true"></span></a></li>
                    <li><a data-toggle="tooltip" data-placement="right" title="Positions nodes in concentric circles creating levels based on node degree" href="concentric">Concentric <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
                    <li><a data-toggle="tooltip" data-placement="right" title="Force-directed physics simulation" href="cose">Cose <span class="glyphicon" aria-hidden="true"></span></a></li>
                    <li><a data-toggle="tooltip" data-placement="right" title="Positions nodes in a Grid" href="grid">Grid <span class="glyphicon" aria-hidden="true"></span></a></li>
                    <li><a data-toggle="tooltip" data-placement="right" title="Positions nodes randomly" href="random">Random <span class="glyphicon" aria-hidden="true"></span></a></li>
                    <li><a data-toggle="tooltip" data-placement="right" title="Force-directed physics simulation" href="springy">Springy <span class="glyphicon" aria-hidden="true"></span></a></li>
                    <li class="divider"></li>
                    <li><a data-toggle="tooltip" data-placement="right" title="Advanced layout options" href="#">Advanced</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Attribute <span class="caret"></span></button>
                        <ul id="{{attrListId}}" class="dropdown-menu" role="menu"></ul>
                    </div>
                    <input type="text" id="{{findId}}" class="form-control" placeholder="Search">
                </div>
                
                <div class="form-group btn-group" data-toggle="buttons">
                    <label class="btn btn-default active" data-toggle="tooltip" data-placement="bottom" title="Move">
                        <input type="radio" name="move" value="move" autocomplete="off" checked> <span class="glyphicon glyphicon-move"></span>
                    </label>
                    <label class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Select">
                        <input type="radio" name="move" value="select" autocomplete="off"> <span class="glyphicon glyphicon-screenshot"></span>
                    </label>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/jmvillaveces/iAtlas-web/wiki" target="_blank"><span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Help!" ></span></a></li>
                <li><a id="{{saveId}}" href="#save"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Save" ></span></a></li>
                <li><a id="{{commId}}" href="#"><span class="glyphicon glyphicon-th-large" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Community Detection" ></span></a></li>
                <li><a id="{{pathwayId}}" href="#"><span class="glyphicon glyphicon-th-list" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Pathway Analysis" ></span></a></li>
                <li><a id="{{settingsId}}" href="#"><span class="glyphicon glyphicon-transfer" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Settings" ></span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>