<div class='row'>
    <div class='col-md-6'>
        Displaying <strong>{{pathways.length}}</strong> pathways out of <strong>{{pathwaysFound}}</strong>.
    </div>
    <div class='col-md-6'>
        <span style='color:red'><strong>{{identifiersNotFound}}</strong></span> identifiers not found.<br> 
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Found</th>
            <th>Pathway</th>
            <th>P-value</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each pathways}}
            <tr>
                <td><span class='badge pull-right'> {{this.entities.found}} / {{this.entities.total}} </span></td>
                <td>{{name}}</td>
                <td>{{toExponential entities.pValue }}</td>
                <td><a class="btn btn-info" href="http://www.reactome.org/content/detail/{{stId}}" target='_blank' role="button"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></td>
            </tr>
        {{/each}}
    </tbody>
</table>