 <button type="button" class="trigger btn btn-info">
            <span class="glyphicon glyphicon-chevron-left"></span> {{id}}
        </button>
        
        <div class="sidePanel panel panel-default">
          <div class="panel-body">
              
              <!-- Nav tabs -->
              <ul class="nav nav-tabs">
                  <li class="active"><a href="#home" data-toggle="tab">General Info</a></li>
                  <li><a href="#expression" data-toggle="tab">Expression</a></li>
                  <li><a href="#sequence" data-toggle="tab">Sequence</a></li>
                  <li><a href="#protPortfolio" data-toggle="tab">Protein Portfolio</a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                  <div class="tab-pane active" id="home">
                      <h3>
                          {{id}} 
                          {{#compare Status "reviewed"}}
                            <span class="glyphicon glyphicon-star"></span><small> (Reviewed)</small>
                          {{/compare}}
                          {{#compare Status "!==" "reviewed"}}
                            <span class="glyphicon glyphicon-question-sign"></span><small> (Unreviewed)</small>
                          {{/compare}}
                      </h3>
                      <dl>
                        {{#if Entry_name}}
                        <dt>Entry Name</dt><dd><p>{{Entry_name}}</p></dd>
                        {{/if}}
                        {{#if Gene_names}}
                        <dt>Gene Names</dt><dd><p>{{Gene_names}}</p></dd>
                        {{/if}}
                        {{#if altIds}}
                        <dt>Alternative Ids</dt><dd><p>{{#join altIds ", "}}{{#if this.value}}{{this.value}}{{/if}}{{/join}}</p></dd>
                        {{/if}}
                        {{#if taxonomy}}
                        <dt>Taxonomy</dt><dd><p>{{#join taxonomy ", "}}{{this}}{{/join}}</p></dd>
                        {{/if}}
                        {{#if Protein_names}}
                        <dt>Protein names</dt><dd><p>{{Protein_names}}</p></dd>
                        {{/if}}
                        {{#if Keywords}}
                        <dt>Keywords:</dt><dd><p>{{Keywords}}</p></dd>
                        {{/if}}
                      </dl>
                  </div>
                  
                  <div class="tab-pane" id="expression"></div>
                  <div class="tab-pane" id="sequence"></div>
                  <div class="tab-pane" id="protPortfolio"></div>
              </div>
              
              
          </div>
        </div>
