<div role='tabpanel'>
    <!-- Nav tabs -->
    <ul class='nav nav-tabs' role='tablist'>
        <li role='presentation' class='active'><a href='#info' aria-controls='info' role='tab' data-toggle='tab'>Info</a></li>
        <li role='presentation'><a href='#sequence' aria-controls='sequence' role='tab' data-toggle='tab'>Sequence</a></li>
    </ul>

    <!-- Tab panes -->
    <div class='tab-content'>
        <div role='tabpanel' class='tab-pane active' id='info'>
            
            <ol class='breadcrumb' style='font-size:12px'>
                {{#each lineage}}
                <li><a target='_blank' href='http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?name={{this}}'>{{this}}</a></li>
                {{/each}}
            </ol>
            
            <div class='panel-group' id='accordion' role='tablist' aria-multiselectable='true'>
                
                {{#compare keyword.length '>' 0 }}
                <div class='panel panel-default'>
                    <div class='panel-heading' role='tab' id='heading_key'>
                        <h4 class='panel-title text-capitalize'>
                            <a class='collapsed' data-toggle='collapse' data-parent='#accordion' href='#collapse_key' aria-expanded='false' aria-controls='collapse_key'>
                                Keywords
                                <span class='badge pull-right'>{{keyword.length}}</span>
                            </a>
                        </h4>
                    </div>
                    <div id='collapse_key' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading_key'>
                        <p>{{keyword}}</p>
                    </div>
                </div>
                {{/compare}}
                
                {{#each comment}}
                <div class='panel panel-default'>
                    <div class='panel-heading' role='tab' id='heading{{@key}}'>
                        <h4 class='panel-title text-capitalize'>
                            <a class='collapsed' data-toggle='collapse' data-parent='#accordion' href='#collapse{{@key}}' aria-expanded='false' aria-controls='collapse{{@key}}'>
                                {{@key}} <span class='badge pull-right'>{{this.length}}</span>
                            </a>
                        </h4>
                    </div>
                    <div id='collapse{{@key}}' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading{{@key}}'>
                        <div class='panel-body'>
                            <ul>
                                {{#each this}}
                                <li>{{this}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div role='tabpanel' class='tab-pane' id='sequence'></div>
    </div>
</div>