<div role='tabpanel'>
    <!-- Nav tabs -->
    <ul class='nav nav-tabs' role='tablist'>
        <li role='presentation' class='active'><a href='#info' aria-controls='info' role='tab' data-toggle='tab'><span class='glyphicon glyphicon-info-sign'></span> Info</a></li>
        <li role='presentation'><a href='#sequence' aria-controls='sequence' role='tab' data-toggle='tab'><span class='glyphicon glyphicon-align-center'></span> Sequence</a></li>
        <li role='presentation'><a href='#reference' aria-controls='reference' role='tab' data-toggle='tab'><span class='glyphicon glyphicon-file'></span> Literature</a></li>
    </ul>

    <!-- Tab panes -->
    <div class='tab-content'>
        <div role='tabpanel' class='tab-pane active' id='info'>
            
            <ol class='breadcrumb' style='font-size:12px'>
                {{#each lineage}}
                <li><a target='_blank' href='http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?name={{this}}'>{{this}}</a></li>
                {{/each}}
            </ol>
            
            <br>
            {{#compare fullName.length '>' 0 }} Name: <i>{{ fullName }}</i><br> {{/compare}} 
            {{#compare shortName.length '>' 0 }} Short Name: <i>{{ shortName }}</i> <br> {{/compare}}
            {{#compare gene.length '>' 0 }} Gene: <a href='http://www.ncbi.nlm.nih.gov/gene/?term={{gene}}' target='_blank'><i>{{ gene }}</i></a> <br> {{/compare}}
            {{#compare proteinExistence.length '>' 0 }} Protein existence: <i>{{ proteinExistence }}</i> <br> {{/compare}}
            <br>
            <div class='panel-group' id='accordion' role='tablist' aria-multiselectable='true'>
                
                {{#compare keyword.length '>' 0 }}
                <div class='panel panel-default'>
                    <div class='panel-heading' role='tab' id='heading_key'>
                        <h4 class='panel-title text-capitalize'>
                            <a class='collapsed' data-toggle='collapse' data-parent='#accordion' href='#collapse_key' aria-expanded='false' aria-controls='collapse_key'>
                                Keywords
                                <span class='badge pull-right'>{{keyword.length}}</span>
                            </a>
                        </h4>
                    </div>
                    <div id='collapse_key' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading_key'>
                        <p style='margin-left: 5px;'>{{keyword}}</p>
                    </div>
                </div>
                {{/compare}}
                
                {{#compare GO.length '>' 0 }}
                <div class='panel panel-default'>
                    <div class='panel-heading' role='tab' id='heading_GO'>
                        <h4 class='panel-title text-capitalize'>
                            <a class='collapsed' data-toggle='collapse' data-parent='#accordion' href='#collapse_GO' aria-expanded='false' aria-controls='collapse_GO'>
                                Gene Ontology
                                <span class='badge pull-right'>{{GO.length}}</span>
                            </a>
                        </h4>
                    </div>
                    <div id='collapse_GO' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading_key'>
                        {{#each GO}}
                            <h5 style='margin-left: 5px;'>{{term}} <small>{{id}}</small></h5>
                        {{/each}}
                    </div>
                </div>
                {{/compare}}
                
                {{#each comment}}
                <div class='panel panel-default'>
                    <div class='panel-heading' role='tab' id='heading{{@key}}'>
                        <h4 class='panel-title text-capitalize'>
                            <a class='collapsed' data-toggle='collapse' data-parent='#accordion' href='#collapse{{@key}}' aria-expanded='false' aria-controls='collapse{{@key}}'>
                                {{@key}} <span class='badge pull-right'>{{this.length}}</span>
                            </a>
                        </h4>
                    </div>
                    <div id='collapse{{@key}}' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading{{@key}}'>
                        <div class='panel-body'>
                            <ul>
                                {{#each this}}
                                <li>{{this}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div role='tabpanel' class='tab-pane' id='sequence'></div>
        <div role='tabpanel' class='tab-pane' id='reference'>
            <br>
            <ol>
                {{#each reference}}
                <li>
                    <address>
                    <a href='http://www.ncbi.nlm.nih.gov/pubmed/?term={{title}}' target='_blank'>{{title}}</a><br>
                    {{#compare name '!=' ''}}
                    <i>{{name}}</i> {{date}} {{volume}} {{first}}-{{last}}<br>
                    {{/compare}}
                    {{#compare db 'typeof' 'string'}}
                    <i>{{db}}</i><br>
                    {{/compare}}
                    {{authors}}<br>
                    </address>
                </li>
                {{/each}}
            </ol>
        </div>
    </div>
</div>